<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845119354954-5fht44hs2jo6jlts7airhvorr2g3vep7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845119354954-5fht44hs2jo6jlts7airhvorr2g3vep7</string>
	<key>API_KEY</key>
	<string>AIzaSyCoBT8LtVxfODrEI1zmo8rGq5r9OgD6MoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>845119354954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anas.amer8168-gmail.com.schoolApp</string>
	<key>PROJECT_ID</key>
	<string>schoolapp-69a41</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolapp-69a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845119354954:ios:dea7f4fcef257fdc40ceb3</string>
</dict>
</plist>